.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size:25px;
}
body {
    background-color: gainsboro;
    background-color: #00142b;

}
.Topbar {
background-color: #548253;
width: 100vw;
height: 140px;
display: block;

}
.SearchTopic{
    width: 100%;
    background-color: #b7e1b3;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #548253 !important;

}
.SearchTopic::placeholder {
    color: #548253;
}

.dropdown-menu.mt6 {
    background-color: #b7e1b3;
}
.dropdown-item.mt6{
  color: #548253;
}

.nav-link.mt6{
    color:  #b7e1b3;
}
.nav-link.mt6.show {
    color: whitesmoke;
}


#img155 {
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
}



