.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size:25px;
}
body {
    background-image: linear-gradient(to right, #D1C0A8, #FCF8F3, #D1C0A8);
    background-attachment: scroll;
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/soccer players/siluets/bsilueta1.png');
    background-repeat: no-repeat;
    
    /* --- ¡CAMBIOS AQUÍ! --- */
    margin-left: 10px;
    background-position: center bottom; /* Centrada horizontalmente, pegada abajo */
    background-size: 70%;             /* Al 50% de su tamaño original */
    
    opacity: 0.3; 
    z-index: -1;
  }

  /* 1. El contenedor ahora es flexible */
  .logo-container {
    position: relative;
    
    /* --- CAMBIOS AQUÍ --- */
    width: 80%;         /* Ocupará el 80% del ancho de la pantalla */
    max-width: 1000px;  /* Pero nunca será más grande que 1000px */
    
    margin: 60px auto 0;
  }
  
  /* 2. El logo de fondo no necesita cambios */
  #DK_Logo {
    width: 90%;
    height: auto;
    display: block;
    transform: translate(5%, -15%);

  }
  
  /* 3. El logo de encima también se hace flexible */
  #FIFA_Logo {
    /* --- CAMBIO AQUÍ --- */
    width: 30%; /* Su tamaño será el 30% del tamaño del contenedor */
    
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  menu {
    width: 700px;
    height: auto;
    border: violet 2px solid;
  }
  button {
    background-image: linear-gradient(to right, #a2790d, #f0d27e, #a2790d);
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  a {
    color: white;
    font-size: 16px;
  }