body {
  background-image: linear-gradient(to right, #D1C0A8, #FCF8F3, #D1C0A8);
  background-attachment: scroll;
  position: relative;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
  
.container {
  background: #222;
  color: #fff;
  border-radius: 30px;
  padding: 30px 50px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.photo-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.upload-btn {
  margin-left: auto;
  width: 60%;
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.photo-preview {
  width: 60%;
  aspect-ratio: 1/1.25;
  border-radius: 50%;
  background: #fff url("../assets/soccer players/siluets/ProfileSiluete.jpg") center/90% no-repeat;
  margin-top: 60px;
  margin-left: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.btn-continue {
  background: #e6e6a5;
  border: none;
  width: 60%;
  padding: 12px 30px;
  border-radius: 15px;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
}

.btn-continue:hover {
  background: #d4d480;
}

.left {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.right {
  margin-right: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
}